@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');  
html{
    background-color: rgba(0, 0, 0, 0);
}
body::after{
    content: '';
    background-image: url('background_pattern.jpeg');
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: -1;
}
#title ,#rule , #level{
    text-align: center;
    margin: 2vh;
}
#title{
    font-size:min(8vw, 55px);
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 2px rgb(37, 37, 37);
    color: white;
    margin: 2vh;
}
#rule{
    font-family: 'Poppins', sans-serif;
    font-size:min(3vw, 20px);
    margin:0;
}
#info{
    text-align: center;
    color: rgb(53, 53, 53);
    font-family: 'Poppins', sans-serif;
    margin:0;
}
#level{
    display: inline-block;
    padding: 3vw;
    font-size:min(4.3vw, 30px);
    font-family: 'Poppins', sans-serif;
    margin:0;
}
#step-count{
    display: inline-block;
    text-align: center;
    font-size:min(4.3vw, 30px);
    font-family: 'Poppins', sans-serif;
    margin:0;
}
#button{
    text-align: center;
    margin-bottom: 3vw;
}
#undo , #reset, #random-challenge{
    border: 0px;
    background-color: rgb(15, 143, 255);
    padding: 0.8em;
    position: relative;
    font-size:min(4vw, 18px);
    margin-left: 2vw;
    border-radius: 2px;
    color: white;
}

#main-grid{
    display: grid;
    grid-template-columns: repeat(10, min(7vw,45px));
    grid-template-rows: repeat(10, min(7vw,45px));
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.box{
    width: min(7vw,45px);
    height: min(7vw,45px);
    border-radius: 5px;
}
#modal-box{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px double rgb(28, 32, 51);
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    width: 30em;
    max-width: 80%;
    text-align: center;
    height: 20em;
    display: none;
}

#modal-title, #winning-modal-title{
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: min(6vw,35px);
}

#modal-replay, #modal-next , #final-replay, #new-random, #level-challenge{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    padding: 2vw;
    margin: min(3vw,20px);
    border: 0px;
    border-radius: 3px;
}

#modal-replay, #final-replay{
    background-color: rgb(131, 215, 218);
    border: 0px;
    border-radius: 3px;
    margin: min(3vw,20px);
}


#modal-next{
    background-color: rgb(168, 225, 177);
}

#winning-modal-box, #random-modal-box{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px double rgb(28, 32, 51);
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    min-width: 30em;
    max-width: 80%;
    text-align: center;
    height: 20em;
    display: none;
}



@media (hover: hover) {
    #level-challenge:hover, #new-random:hover{
        background-color: rgb(180, 191, 203);
    }
    #modal-next:hover{
        background-color: rgb(133, 179, 140);
    }
    #modal-replay:hover{
        background-color: cadetblue;
    }
    #undo:hover, #reset:hover ,#random-challenge:hover{
        background-color: rgb(8, 70, 124);
    }
}