html{
    background-color: lightgrey;
}

#title ,#rule , #level{
    text-align: center;
    align-content: center;
}
#title{
    font-size:3rem;
}
#info{
    text-align: center;
}
#level{
    display: inline-block;
    padding: 1rem;

}
#step-count{
    display: inline-block;
    text-align: center;
    padding: 1rem;
}
#main-grid{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.box{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
#modal-box{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 30em;
    max-width: 80%;
    text-align: center;
    height: 20em;
    display: none;
}

#modal-title{
    padding: 2em;
}

#modal-replay, #modal-next{
    padding: 1em;
    margin: 1em;
    width: 8em;
}
